<ul class="list">
  <li class="sidebar-user-panel active">
    <div class="user-panel">
      <div class="image">
        <img
          src="assets/images/usrbig.jpg"
          class="user-img-style"
          alt="User Image"
        />
      </div>
    </div>
    <div class="profile-usertitle">
      <div class="sidebar-userpic-name">Emily Smith</div>
      <div class="profile-usertitle-job">Manager</div>
    </div>
  </li>
  <li class="header">-- Main</li>
  <li class="active">
    <a href="#">
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="users"></i>
      <span>Employees</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/employee/employees">All Employee</a>
      </li>
      <li>
        <a routerLink="/employee/add-employee">Add Employee</a>
      </li>
      <li>
        <a routerLink="/employee/add-employee">Edit Employee</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="clipboard"></i>
      <span>Leave Management</span>
    </a>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="headphones"></i>
      <span>Holidays</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/holidays/holidays">All Holidays</a>
      </li>
      <li>
        <a routerLink="/holidays/add-holiday">Add Holiday</a>
      </li>
      <li>
        <a routerLink="/holidays/edit-holiday">Edit Holiday</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="trello"></i>
      <span>Departments</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/departments/departments">All Departments</a>
      </li>
      <li>
        <a routerLink="/departments/add-department">Add Department</a>
      </li>
      <li>
        <a routerLink="/departments/edit-department">Edit Departments</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="command"></i>
      <span>Job</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/jobs/add-job">Add Job</a>
      </li>
      <li>
        <a routerLink="/jobs/requirements">Requirements</a>
      </li>
      <li>
        <a routerLink="/jobs/applicant-list">Applicant List</a>
      </li>
    </ul>
  </li>
</ul>
