<ul class="list">
  <li class="sidebar-user-panel active">
    <div class="user-panel">
      <div class="image">
        <img
          src="assets/images/usrbig.jpg"
          class="user-img-style"
          alt="User Image"
          style="cursor: pointer"
          routerLink="me"
        />
      </div>
    </div>
    <div class="profile-usertitle">
      <div class="sidebar-userpic-name" style="cursor: pointer" routerLink="me">
        Emily Smith
      </div>
      <div class="profile-usertitle-job">Manager</div>
    </div>
  </li>
  <li class="header">-- Main</li>
  <li class="active">
    <a routerLink="home">
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="users"></i>
      <span>Employees</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/employee/employees">All Employee</a>
      </li>
      <li>
        <a routerLink="/employee/add-employee">Add Employee</a>
      </li>
      <li>
        <a routerLink="/employee/edit-employee">Edit Employee</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="headphones"></i>
      <span>Holidays</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/holidays/holidays">All Holidays</a>
      </li>
      <li>
        <a routerLink="/holidays/add-holiday">Add Holiday</a>
      </li>
      <li>
        <a routerLink="/holidays/edit-holiday">Edit Holiday</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="trello"></i>
      <span>Departments</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/departments/departments">All Departments</a>
      </li>
      <li>
        <a routerLink="/departments/add-department">Add Department</a>
      </li>
      <li>
        <a routerLink="/departments/edit-department">Edit Departments</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="command"></i>
      <span>Job</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/jobs/add-job">Add Job</a>
      </li>
      <li>
        <a routerLink="/jobs/requirements">Requirements</a>
      </li>
      <li>
        <a routerLink="/jobs/applicant-list">Applicant List</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="briefcase"></i>
      <span>Projects</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/project/projects">All Projects</a>
      </li>
      <li>
        <a routerLink="/project/add-project">Add Project</a>
      </li>
      <li>
        <a routerLink="/project/edit-project">Edit Project</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="book-open"></i>
      <span>Attendance</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/attendance/today-attendance">Today Attendance</a>
      </li>
      <li>
        <a routerLink="/attendance/employee-attendance">Employee Attendance</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="user"></i>
      <span>Clients</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/client/clients">All Clients</a>
      </li>
      <li>
        <a routerLink="/client/add-client">Add Client</a>
      </li>
      <li>
        <a routerLink="/client/edit-client">Edit Client</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" onClick="return false;" class="menu-toggle">
      <i data-feather="clipboard"></i>
      <span>Leave Management</span>
    </a>
    <ul class="ml-menu">
      <li>
        <a routerLink="/leave/leave-requests">All Leave Request</a>
      </li>
      <li>
        <a href="pages/leave/leave-balance.html">Leave Balance</a>
      </li>
      <li>
        <a routerLink="/leave/add-leave">New Leave Request</a>
      </li>
      <li>
        <a routerLink="/leave/edit-leave">Edit Leave Request</a>
      </li>
      <li>
        <a routerLink="/leave/leave-types">Leave Types</a>
      </li>
    </ul>
  </li>
</ul>
